li{
    list-style: none;
}
#head{
    width: 100%;
    background-color: #D8D8D8;
}
#head1{
    width: 100%;
    height: 38px;
    background-color: #5bb7fe;
}
#head2{
    width: 72%;
    margin:0 auto;
}
#playlist{
    width: 88%;
    height: 300px;
    margin:0 auto;
}
#playul{
    width: 18%;
    height: 300px;
    float: left;
}
#ipt{
    border:none;
    color : "black";
    background-color:rgb(230, 230, 230);
}
#cover{
    display: block;
    position: relative;
    background-position: 50% 50%!important;
    background-size: cover!important;
    width: 150px;
    height: 200px;
    border-radius: 8px;
}
#cover .type{
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background-color: #5bb7fe
}
#cover .year{
    color: #fff;
    text-align: right;
    width: 100%;
    bottom: 0;
    padding: 5px 10px;
    font-size: 12px;
    overflow: hidden;
}
#button{
    float: left;
    border:none;
    width: 180px;
}
#menu{
    width: 195px;
    border-radius: 8px;
    float: right;
    direction: ltr;
    overflow: auto;
    
}
#menu button{
    width: 65px;
    color: #eeeeee !important;
    background-color: #292929 !important;
}
#dplayer{
    border-radius: 8px;
}

.header__top{
    position: relative;
    height: 100px;
    padding:0 20px;
    background-color: #e0e0e0;
}
.container{
    width: 990px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.row{position: relative; margin-right: -15px; margin-left: -15px;}
.header__logo{float:left; margin-right: 120px;}
.header__logo{ width: 282px; margin-top: 20px}
.header__logo .logo{display:block; width:282px; height:60px; background:url(../img/logo_max_f.png) no-repeat;background-position:50% 50%;background-size:cover}
.header__search{ float:left; position:relative; width:280px; margin-top: 32px; }
.header__search .form-control{display:block; width:100%; height: 35px; padding:6px 45px 6px 10px; font-size:12px; line-height:32px; border-radius: 5px; transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s; background-color:	; color: ; border: 0;}
.header__search .submit{display:block; position:absolute; top: 0; right: 0; width:35px; height:35px; border: 0; cursor: pointer; background: url(https://www.msdm.moe/newszy/img/icon_seacrh.png) center no-repeat;}