ul{
    float: left;
    width: 182px;
}
li{
    float: left;
    list-style: none;
    margin: 20px 12px;
    width: 16.6666667%;
}
li div{
    margin: 0;
    padding: 0;
}
#head{
    background-color: #D8D8D8;
}
#cover{
    display: block;
    position: relative;
    background-position: 50% 50%!important;
    background-size: cover!important;
    width: 150px;
    height: 200px;
    border-radius: 8px;
}
#cover .type{
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background-color: #5bb7fe
}
#cover .year{
    color: #fff;
    text-align: right;
    width: 100%;
    bottom: 0;
    padding: 5px 10px;
    font-size: 12px;
    overflow: hidden;
}
#button{
    float: left;
    border:none;
    width: 180px;
}
#menu{
    width: 195px;
    border-radius: 8px;
    float: right;
    direction: ltr;
    overflow: auto;
    
}
#menu button{
    width: 65px;
    background-color: #256;
}
#dplayer{
    border-radius: 8px;
}